* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Roboto-Regular;
    line-height: 1.6;
    background-color: $BGgrey;
    color: $textWhite;
    overflow-x: hidden;
}

body {
    font-size: rem(16px);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto-Medium;
    line-height: 1;
}

img {
    width: 100%;
}

.disable-scroll {
    overflow-y: hidden;
}