.black-gradient{
    width: 100%;
    height: 60vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
}

.directions-container{
    text-align: center;
    margin-top: 20vh;

    &>img{
        width: 10%;
        margin-bottom: rem(44px);
    }

    &>:nth-child(2){
        margin-bottom: rem(24px);
    }
}

.directions-buttons-container{

    display: flex;
    justify-content: center;

    &>a{
        border: 1px solid #e5e5e57e;
        border-radius: 0.25em;
        margin: 0 rem(8px);
        background-color: #2d2d2d7a;
        cursor: pointer;
        transition: .15s;
        text-decoration: none;

        &>div{
            // height: rem(44px);
            line-height: 2.5;
            color: rgb(199, 199, 199);
            transition: .15s;
            padding: 0 rem(50px);
            -webkit-box-shadow: 2px 1px 17px -1px rgba(17, 17, 17, 0.5);
            box-shadow: 2px 1px 17px -1px rgba(21, 21, 21, 0.5);
        }
    }

    &>:hover {
        transform: scale(1.05);
        background-color: #4f4f4f95;
        box-shadow: 4px 4px 19px -1px rgba(21, 21, 21, 0.872);

    }
}