.categories{
    margin-top: -14%;
    transition: .2s;
    overflow-x: hidden;
    // transform: translateY(-36%);
    &>:last-child{
        margin-bottom: rem(120px);
    }
}

@media screen and (max-width: 800px) {
    .categories {
        &>:last-child {
            margin-bottom: rem(80px);
        }
    }
}

