.details-inner-container{
    max-width: rem(850px);
    height: 92%;
    position: fixed;
    top: 4%;
    left: calc(50% - 425px);
    background-color: $modalGrey;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    z-index: 101;
}

.screen{
    width: 100%;
    height: 100%;
    background-color: #000000cf;
    position: fixed;
    z-index: 100;
}

.details-video-container{
    &>video{
        width: 100%;
        outline: none;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        position: relative;
    }
}

.grey-gradient{
    width: 100%;
    height: rem(320px);
    background:linear-gradient(to top, #181818, transparent 50%);
    position: absolute;
    transform: translateY(-100%);
}

.grey-bg{
    width: 100%;
    height: 3rem;
    background-color: #181818;
    position: absolute;
    transform: translateY(-100%);
    filter: blur(12px);
}

.details-text-container{
    padding: 0 rem(24px);
}

.details-exit-btn{
    background-color: #00000095;
    width: rem(34px);
    height: rem(34px);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: rem(10px);
    right: rem(10px);
    text-align: center;
    cursor: pointer;

    &>img{
        width: 40%;
        transform: translateY(40%); 
        opacity: .9;
    }
}

// media queries

@media screen and (max-width: 1090px){

    .details-inner-container{
        max-width: 80vw;
        left: calc(50% - 40vw)
    }

}

@media screen and (max-width: 500px){

    .details-inner-container{
        max-width: 90vw;
        left: calc(50% - 45vw)
    }

    .details-exit-btn{
        top: rem(6px);
        right: rem(6px);
    }

}